<h1>Survey: <%= @survey.name %></h1>
<%= form_tag("/survey/#{@survey.uuid}/response", method: "post") do %>
  <p>
    <%= label_tag(:title, "Title?") %>
    <%= text_field_tag(:title) %>
  </p>
  <p>
    <%= label_tag(:compensation, "Annual Compensation?") %>
    <%= number_field_tag(:compensation) %>
  </p>
  <p>
    <%= label_tag(:experience, "Years in Industry?") %>
    <%= number_field_tag(:experience) %>
  </p>
  <%= submit_tag("Submit") %>
<% end %>
